@model Customer

<h3>@Model.CompanyName Information</h3>

<table class="table">
    <tr>
        <th>Customer ID</th>
        <th>Company Name</th>
        <th>Credit</th>
        <th>Financial History</th>
        <th>Phone Number</th>
        <th>Email</th>
    </tr>
    <tr>
        <td>@Model.CustomerID</td>
        <td>@Model.CompanyName</td>
        <td>@Model.Credit</td>
        <td>@Model.MoneySpent</td>
        <td>@Model.PhoneNumber</td>
        <td>@Model.CustomerEmail</td>
    </tr>

</table>

<div style="display: block">
    <a href="/Customer/UpdateCustomer/@Model.CustomerID">Update this Customer</a>
</div>
<br />
<div style="display: block">
    @using (Html.BeginForm("DeleteCustomer", "Customer", "Post"))
    {
        <input type="hidden" asp-for="CustomerID" value="@Model.CustomerID" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Delete this customer" />
    }
</div>
